<div class="user-items">
<img style="width: 100px; height: 100px; border-radius: 50%;" src= "<%=user.photo%>" alt="user profile" />
<div class="name-post">
<h2 class = "name"><%=link_to user.name, user_path(user) %></h2>
 <p>Number of Posts: <%=user.posts_counter%></p>
 </div>
</div>