<div class="user-items">
<img style="width: 60px; height: 60px;" src= "<%=user.photo%>" alt="user profile" />
<div class="name-post">
<h2 class = "name"><%=user.name %></h2>
 <p>Number of Posts: <%=user.posts_counter%></p>
 </div>
</div>