<div class="user-items" style="display: flex; align-items: center; gap: 15px;">
<img style="width: 60px; height: 60px;" src= "<%=user.photo%>" alt="user profile" />
<h2 class = "name"><%=user.name %></h2>
 <p>Number of Posts: <%=user.posts_counter%></p>
</div>