<div class="user-items" style="display: flex; align-items: center;">
<img style="width: 250px; height: 250px;" src= "<%=user.photo%>" alt="user profile" />
<h2 class = " text-red-600"><%=user.name %></h2>
 <p>Number of Posts: <%=user.posts_counter%></p>
</div>